@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --calcbackground: #ACADEA;
  --buttonsbackground: #E8EBAE;
  --hbuttonsbackground: #EBDFAE;
  --opbackground: #AECFEB;
  --hopbackground: #AECFEB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-thin);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'RobotoMono';
  src: url(./fonts/Roboto-Thin.ttf);
}

@layer components {
  .ctn {
    @apply bg-(--calcbackground) w-96 h-144 flex flex-col items-center justify-start rounded-lg ;
  }

  .btn {
    @apply bg-(--buttonsbackground) w-full h-full rounded flex items-center justify-center text-black hover:bg-(--hbuttonsbackground) duration-100 text-2xl active:scale-95;
  }

  .btn-operation {
    @apply bg-(--opbackground) hover:bg-(--hopbackground) text-black;
  }

  .btn-double {
    @apply col-span-2;
  }

  .btn-tiple {
    @apply col-span-3;
  }

  .tabs {
    @apply flex flex-row gap-4 justify-between items-center w-full h-8 p-4 mb-4;
  }

  .display {
    @apply bg-black/25 w-90 h-32 rounded-sm mb-4 flex items-center justify-end p-8 text-6xl overflow-hidden;
  }

  .calc-grid {
    @apply grid grid-cols-4 w-full h-full gap-2 justify-center items-center p-2;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
}
