@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-thin);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'RobotoMono';
  src: url(./fonts/Roboto-Thin.ttf);
}

@layer components {
  .ctn {
    @apply bg-zinc-800 w-96 h-144 flex flex-col items-center justify-start rounded-lg ;
  }

  .btn {
    @apply bg-zinc-600 w-full h-full rounded flex items-center justify-center hover:bg-zinc-700 text-2xl;
  }

  .btn-operation {
    @apply bg-purple-500 hover:bg-purple-600 text-white;
  }

  .btn-double {
    @apply col-span-2;
  }

  .btn-tiple {
    @apply col-span-3;
  }

  .tabs {
    @apply flex flex-row gap-4 justify-between items-center w-full h-8 p-4 mb-4;
  }

  .display {
    @apply bg-black/25 w-full h-32 mb-4 flex items-center justify-end p-8 text-6xl overflow-hidden;
  }

  .calc-grid {
    @apply grid grid-cols-4 w-full h-full gap-2 justify-center items-center p-2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
}
